@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=M+PLUS+1+Code&family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--main-color: #eee;
	--secondary-color: #333;
	--tertiary-color: #add8e6;
	--card-font-color: teal;
	--card-back-color: teal;
	--card-face-color: #fafafa;
	--card-border-color: darkgoldenrod;
	--number-indicator: #99d0e0;
	--item-link-color: #200484;
	--font: 'Irish Grover', cursive;
	--paragraph-font: 'Roboto', sans-serif;
	--signature-font: 'M PLUS 1 Code', cursive;
}

/*TEST - COLORS TO BE CONFIRMED*/
.darkTheme {
	--main-color: #333;
	--secondary-color: #eee;
	--tertiary-color: lightgreen;
	--card-face-color: #191919;
}

.cardDesign-one {	
	--card-font-color: rgba(17,17,17,1);
	--card-back-color: linear-gradient(315deg, rgba(165,42,42,1) 25%, rgba(17,17,17,1) 25%, rgba(17,17,17,1) 75%, rgba(165,42,42,1) 75%);
}

.cardDesign-two {
	--card-font-color: rgba(200,40,84,1);
	--card-back-color: radial-gradient(circle, rgba(200,40,84,1) 40%, rgba(84,175,30,1) 40%);
}

.cardDesign-three {
	--card-font-color: rgba(17,17,17,1);
	--card-back-color: linear-gradient(90deg, rgba(165,42,42,1) 25%, rgba(17,17,17,1) 25%, rgba(17,17,17,1) 75%, rgba(165,42,42,1) 75%); 
}

html {
	font-size: 16px;
}

body {
	background-color: var(--main-color);
}

p {
	font-family: var(--paragraph-font);
	font-size: 1.25rem;
}

ul {
	padding: 0;
	list-style: none;
}

.row {
	align-items: center;
	--bs-gutter-x: 0
}

/*------------------------------------------------------canvas-*/

#canvas {
	height: 100vh;
}

/*------------------------------------------------------header-*/

#header {
	position: fixed;
  left: 0;
  top: 0;
	height: 10%;
  width: 100%;
	display: flex;
  flex-direction: column-reverse;
  justify-content: center;
	color: var(--secondary-color);
	font-family: var(--font);
	font-size: 2rem;
}

#brand {
	font-size: 3rem;
}

.col-top-right {
	display: flex;
	justify-content: right;
}

/*--------------------------------------------------------menu-*/

#game-container,
#menu-container {
	display: none;
}

#menu-container {
	height: 25rem;
	width: 25rem;
	padding: 1rem;
	font-family: var(--font);
	color: var(--secondary-color);
	text-align: center;
}

#intro-container {
	height: 20rem;
	width: 40rem;
	display: flex;
  align-items: center;
	justify-content: center;
}

.menu-item {
	padding-top: 0.75rem;
  font-size: 3em;
	border: none;
	background-color: transparent;
}

.itemLink {
	color: var(--secondary-color);
	text-decoration: none;
}

.itemLink:hover {
	color: var(--item-link-color);
	cursor: pointer;
}

#audioOn,
#audioToggleOn,
#themeLight,
#themeToggleLight {
	display: inline;
}

#audioOff,
#audioToggleOff,
#themeDark,
#themeToggleDark {
	display: none;
}

.settings-item {
	padding-top: 0.75rem;
	font-size: 1.5rem;
	border: none;
	background-color: transparent;
}

/*----------------------------------------------------sub-menu-*/

.subMenu {
	height: 25rem;
	width: 25rem;
	position: fixed;
	padding: 0.75rem;
	font-family: var(--font);
	color: var(--secondary-color);
	text-align: center;
	background-color: var(--main-color);
	border: 1px solid var(--secondary-color);
	z-index: 1070;
	display: none;
}

.subMenuTitle {
	margin-bottom: 1rem;
	font-size: 3rem;
}

.form-control {
	font-size: 1.25rem;
}

/*------------------------------------------------------button-*/

.button {
	color: var(--secondary-color);
	font-family: var(--font);
	border: none;
}

.buttonPlacement {
	display: flex;
	justify-content: center;
	text-align: center;
}

.gamebutton {
	height: 4rem;
  width: 6rem;
  font-size: 1.75rem;
	border: 2px solid var(--secondary-color);
	border-radius: 50px;
	background-color: var(--tertiary-color);
}

.subMenuBtn {
	height: auto;
  width: auto;
	margin-top: 0.5rem;
	font-size: 1.5rem;
	border: 1px solid var(--secondary-color);
	border-radius: 25px;
	background-color: transparent;
}

.menu-toggle {
	color: var(--secondary-color);
	border: none;
	background-color: transparent;
}

.dropdown-toggle::after {
	content: none;
}

.dropdown-menu {
	min-width: 14rem;
	padding: 0.5rem 1.5rem;
	color: inherit;
	font-size: 1.5rem;
	z-index: 1060;
}

#dropdown-menu .show {
	transform: translate3d(-180px, 52px, 0px);
}

/*--------------------------------------------------------card-*/

.card,
.introCard {
	height: 10rem;
	width: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--card-font-color);
	font-family: var(--font);
	font-size: 3rem;
	text-align: center;
	border: 2px solid var(--card-border-color);
	border-radius: 15px;
	background: var(--card-back-color);
}

.card {
	margin: 1rem auto;
	z-index: -1;
}

.introCard {
	float: left;
}

.introCardOne { transform: matrix(1, -0.5, 0.5, 1, 0, 10); }
.introCardTwo { transform: matrix(1, -0.25, 0.25, 1, 0, -25); }
.introCardThree { transform: matrix(1, 0, 0, 1, 0, -40); }
.introCardFour { transform: matrix(1, 0.25, -0.25, 1, 0, -25); }
.introCardFive { transform: matrix(1, 0.5, -0.5, 1, 0, 10); }

.cardDesign {
	height: 8rem;
	width: 6rem;
	margin: auto 0.5rem;
	border: 1px solid var(--card-border-color);
	border-radius: 15px;
}

.cardDesign--one { background: linear-gradient(315deg, rgba(165,42,42,1) 25%, rgba(17,17,17,1) 25%, rgba(17,17,17,1) 75%, rgba(165,42,42,1) 75%); }
.cardDesign--two { background: radial-gradient(circle, rgba(200,40,84,1) 40%, rgba(84,175,30,1) 40%); }
.cardDesign--three { background: linear-gradient(90deg, rgba(165,42,42,1) 25%, rgba(17,17,17,1) 25%, rgba(17,17,17,1) 75%, rgba(165,42,42,1) 75%); }

/*------------------------------------------------------result-*/

#result {
	height: 8rem;
	width: 18rem;
	padding-top: 1.25rem;
	position: fixed;
	font-family: var(--font);
	color: var(--secondary-color);
	text-shadow: 2px 2px 4px #fff;
	border-radius: 50%;
	background: var(--tertiary-color);
	text-align: center;
	border: 2px ridge var(--secondary-color);
	display: none;
	z-index: 1000;
}

#result p {
	margin-bottom: 0.25rem;
	font-size: 1rem;
	font-family: var(--font);
}

/*--------------------------------------------number-indicator-*/

.numberIndicator {
	height: 4rem;
	width: 4rem;
	margin: 0.5rem auto;
	padding-top: 0.25rem;
	text-align: center;
	font-size: 2rem;
	border: 2px solid;
	border-radius: 50%;
}

.numInd-default {
	color: var(--number-indicator);
}

.numInd-green {
	color: green;
}

.numInd-red {
	color: red;
}

/*------------------------------------------------------footer-*/

#footer {
	position: fixed;
  left: 0;
  bottom: 0;
	height: 10%;
  width: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
	color: var(--secondary-color);
	text-align: center;
	font-size: 1rem;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

#footer a:hover {
	color: var(--item-link-color);
}

.signature {
	font-family: var(--signature-font);
}

.hvr-pulse:hover {
	color: red;
}

/*---------------------------------------------------animation-*/

.spinCard {
	animation: spinCard 1s linear forwards;
}
 @keyframes spinCard {
	20% {transform: rotateY(180deg);}
	90% {background: var(--card-back-color);}
	100% {background: var(--card-face-color);}
}

.showResult {
	animation: showResult 1s linear forwards;
}
@keyframes showResult {
	0% {transform: scale(0);}
	100% {transform: scale(2);}
}

/*---------------------------------------------------particle--*/

particle {
	border-radius: 50%;
  left: 0;	
  pointer-events: none;
  position: fixed;
  top: 0;
	opacity: 0;
	z-index: 1060;
}

/*-----------------------------------------------media-queries-*/

@media screen and (max-width: 1023px) {
	html { font-size: 14px; }
}

@media screen and (max-width: 767px) {
	html { font-size: 12px; }
}

@media screen and (max-width: 450px) {
	html { font-size: 10px; }
}

@media screen and (max-width: 295px) {
	html { font-size: 8px; }
}