@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Pacifico&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--card-back-color: navy;
	--card-front-color: #f0f0f0;
	--card-number-color: navy;
	--card-border-color: darkgoldenrod;
	--number-indicator: #99d0e0;
	--font: 'Irish Grover', cursive;
}

/*--------------------------------------------------canvas-*/

#canvas {
	height: 100vh;
	background-color: #d4ebf2;
}

.col {
	border: 1px solid hotpink;
}

#soundNotification {
	position: absolute;
	top: 1rem;
	right: 2rem;
}

/*----------------------------------------------------menu-*/

#game {
	display: none;
	z-index: 888;
}

#menu-container {
	height: 20rem;
	width: 20rem;
	padding: 1rem;
	font-family: var(--font);
	border: 1px solid hotpink;
	color: #fc5185;
	text-align: center;
	box-shadow: 2px 2px 4px #fff;
}

.menu-item {
	padding-top: 0.5rem;
}

.menu-title {
	font-size: 3rem;
}

#menu-container h2 {
	font-size: 2rem;
}

/* #menu-container h5 {
	font-size: 1.75rem;
} */

#menu-container h6 {
	margin-top: 1rem;
	font-size: 1.5rem;
}

#menu-container p {
	font-size: 1.25rem;
}

.menu-link:hover {
	color: navy;
	cursor: pointer;
}

#how-to-play,
#hall-of-fame,
#settings {
	display: none;
}

/*--------------------------------------------------speech-*/

.speech-bubble {
	width: 100%;
	padding: 0.5rem;
	position: relative;
	background: #f8f8ff;
	border-radius: 15px;

}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-top-color: #f8f8ff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.5rem;
	margin-bottom: -1rem;
}

#messages {
	height: 50vh;
	width: 12rem;
	background-color: lightcoral;
}

#userName {
	width: 100%;
}

.speech-bubble {
	display: none;
}

.speech-bubble p {
	margin: 0;
}

.next {
	text-align: right;
}

/*--------------------------------------------------button-*/

.button {
	height: 3rem;
	width: 8rem;
	color: #fc5185;
	font-family: var(--font);
	font-size: 1.5rem;
	border: 1px ridge #fc5185;
	border-radius: 15px;
	background-color: #c0eccb;
}

/*----------------------------------------------------card-*/

.card {
	height: 8rem;
	width: 6rem;
	margin: 2rem auto;
	padding-top: 1rem;
	font-size: 3rem;
	color: var(--card-number-color);
	text-align: center;
	background-color: var(--card-back-color);
	border: 2px solid var(--card-border-color);
	border-radius: 15px;
}

#result {
	height: 6rem;
	width: 18rem;
	position: absolute;
	top: 40vh;
	left: 35vw;
	font-size: 2rem;
	font-family: var(--font);
	color: #fc5185;
	text-shadow: 2px 2px 4px #fff;
	border-radius: 50%;
	background: #add8e6;
	display: flex;
  	align-items: center;
	justify-content: center;
	border: 2px ridge #fc5185;
	visibility: hidden;
	z-index: 999;
}

/*------------------------------------number-indicator-*/

.numberIndicator {
	height: 4rem;
	width: 4rem;
	margin: auto;
	padding-top: 0.25rem;
	color: var(--number-indicator);
	text-align: center;
	font-size: 2rem;
	border: 2px solid;
	border-color: var(--number-indicator);
	border-radius: 50%;
}

/*-------------------------------------------animation-*/

 @keyframes spinCard {
	20% {transform: rotateY(180deg);}
	90% {background-color: var(--card-back-color);}
	100% {background-color: var(--card-front-color);}
}

@keyframes showResult {
	50% {transform: scale(2);
			visibility: visible;}
	100% {transform: scale(1.75);
			 visibility: visible;}
}